.leaflet-magnifying-glass {
  border-radius: 50%;
  border: 1px solid gray;
  box-shadow: 0 0 5px gray;
  position: absolute;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.leaflet-magnifying-glass > .leaflet-container {
  height: 	100%;
  width: 	100%;
}

/* Webkit-only workaround for the border-radius clipping bug,
applied to the map container */
.leaflet-magnifying-glass-webkit {
  border-radius: 50%;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.glass-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiBxMODTtp744rAAABLklEQVQ4y73SMUoDURSF4S8hYKe1CMFGC+tEGJLOzg2oRTbgEiS9lSsQphcbbezsIhITN2CjRdIGXIBci4xxJjNRK88rHtx3/3vgvFvzrcSBthbGRu49+kEbUrF0UhvlxhrouLKFJwNjtHTtY+rIQ9X0iTDTQ81uVu2ZCZMql1SYaVpz7l0s6k0zIV1uT4TQs+bZh0vHubeeEJIi0BeGOPfhsOQ+FPr5Ql0bAzWnUnclYIB2EZjnvmPdfUXc88xyamT3Sxbwr6qXZxTUylxywAjdlUAXo+pYq1QZ6/fHLWvFxxVXIz/9azU2F9Es1DERwtCFEycuDIUw0bHtzXUZWbXe296EqEJI9N2amrrVl2Aza1+JLKvhOuf4P8jZ70ARef0LkEdu/gbQcObVjb1PNLaOIqanI2gAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDctMTlUMTQ6MTM6NTkrMDI6MDDTp1sGAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA3LTE5VDE0OjEzOjU5KzAyOjAwovrjugAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=);
  background-size:50%;
}